.footer {
    padding: 32px 0 70px 0px;
    background-color: #064AB1;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;

    h6 {
        font-weight: 700;
        margin-bottom: 15px;
    }

    ul {
        font-weight: 400;
        font-size: 15px;
        color: #9BCCFF;
        display: flex;
        flex-direction: column;
        gap: 10px;

        a:hover {
            text-decoration: underline;
        }
    }

    .container {
        padding: 0;
        width: 1250px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1330px) {
            width: 90vw;
            margin: auto;
        }

        @media (max-width: 1140px) {
            flex-direction: column;
            gap: 20px;

            .text-align-right {
                text-align: left;
            }

            @media (max-width: 750px) {
                gap: 23px;
              }
        }
    }

    .text-align-right {
        text-align: right;
    }
}