.main-table {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #D0D5DF;
  margin: 10px 0;

  .main-input {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 13px;
  }

  .icon-input input {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
  }

  &__row {
    display: flex;
    align-items: center;
    padding: 14px 10px;
    background-color: $white;
    transition: all .3s;

    a:not(.delete-link) {
      color: #064AB1;
    }

    &:nth-child(odd) {
      background-color: #F6F6F6;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #D0D5DF;
    }

    &:not(.main-table__title-row, .main-table__pagination-row):hover {
      cursor: pointer;
      background-color: #FFEDBD;
    }

    &.main-table__title-row {
      padding-top: 5px;
      padding-bottom: 8px;

      .main-table__cell {




        font-family: 'Open Sans';
        font-size: 13px;

        font-weight: 600;
        line-height: normal;
      }
    }

    &.main-table__pagination-row {
      padding-left: 0;
      justify-content: space-between;

      max-height: 40px;

      display: flex;
      justify-content: space-between;

    }

    .elements-count {
      margin-left: auto;
      display: flex;
      align-items: center;
      font-size: 13px;
      width: 232px;

      select {
        margin-left: 8px;
        max-width: 72px;
      }
    }


    form {
      width: 100%;
      display: flex;
      align-items: center;

      button[type="submit"] {
        border: 1px solid #D0D5DF;
        padding: 5px;
        transition: all .3s;

        &:hover {
          background-color: #D0D5DF;
          color: #ffffff;
        }
      }
    }

  }

  &__cell {
    width: 100%;
    flex: 1 1 auto;
    @include opensans-regular;
    font-size: 15px;
    line-height: 18px;
    color: $black;

    &:not(:last-child) {
      padding-right: 10px;
    }

  }

  .download-btn {
    padding: 0;
    //margin-left: auto;
    font-size: 13px;
    background-color: transparent;

    color: #004D9F;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.26px;
  }
}