.main-btn {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  @include montserrat-semibold;
  font-size: 16px;
  padding: 18px 42px;
  border: none;
  background: #3090F6;


  @media (max-width: 600px) {
    padding: 10px 20px;
    font-size: 14px;
  }
}
