#reset-password-modal {
  .input-column-wrapper {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .modal-links {
    margin-top: 10px;
    margin-bottom: 22px;

    button {
      font-weight: 600;
    }
  }

  label {
    margin-bottom: 6px;
    color: #000;
    @include opensans-semibold;
    font-size: 15px;
  }

  .prompt-desc {
    margin-top: 15px;
    color: #2d3231;
    @include opensans-light;
    font-size: 13px;
  }
}
