.modal:not(.info-modal) {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  left: 50%;
  top: 50%;
  width: 610px;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;

  max-height: 90vh;
  -ms-overflow-style: none;
  scrollbar-width: none;

  border-radius: 10px;

  &::-webkit-scrollbar {
    width: 0;
  }

  .container {
    width: 550px;
    margin-left: 0;
    background: #fff;
    border-radius: 10px;
  }

  .form-wrapper {
    padding: 26px 26px 20px 28px;
  }

  &._active {
    opacity: 1;
    z-index: 999;
    visibility: visible;
  }

  h4 {
    margin-bottom: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 30px;
  }

  .input-column-wrapper {
    margin-right: 0;
    margin-bottom: 20px;

    input {
      border: 1px solid #6db4f5;
      border-radius: 5px;
    }

    label {
      margin-bottom: 6px;
      @include opensans-semibold;
      font-size: 15px;
      line-height: normal;

      span {
        margin-left: 0px;
        display: inline-block;
        color: #ff6716;
      }
    }
  }

  .main-btn {
    padding: 11px 16px;
    font-size: 15px;
    @include opensans-semibold;
  }

  .pass-text {
    margin-bottom: 15px;
    max-width: 425px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #1d1b1b;
  }

  .main-checkbox {
    display: block;
    margin-bottom: 20px;
    @include opensans-regular;
    font-size: 15px;
    line-height: 18px;

    a {
      color: #004d9f;
      line-height: 18px;
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      font-weight: 600;
    }

    label {
      font-weight: 400;
      display: block;
      text-indent: -22px;
      padding-left: 22px;
    }
  }

  .submit-btn {
    margin-bottom: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    padding: 10px 15px;
  }

  .enter-link {
    color: #004d9f;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
  }

  @media (max-width: 730px) {
    width: 90vw;
    padding: 30px 20px 20px 20px;
  }
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(#002968, 0.4);
  visibility: hidden;
  z-index: -1;

  &._active {
    z-index: 998;
    visibility: visible;
  }
}

.modal-links {
  display: flex;
  justify-content: space-between;
  color: #064ab1;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  button {
    color: inherit;
  }
}

.modal-close-btn {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1000;
}

.submit-btn {
  border-radius: 3px;
  border: 1px solid #064ab1;
  color: #064ab1;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.registration-btn {
  width: 100%;
  background-color: #064ab1;
}

.enter-link-container {
  border-top: 1px solid #c3d5f5;
  padding: 25px 22px 32px 32px;

  button {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #064ab1;

    display: flex;
    align-items: center;
    gap: 5px;
  }
}
