#enter-modal {
  padding-bottom: 35px;

  .input-column-wrapper {
    margin-right: 0;
    margin-bottom: 17px;
    position: relative;
  }

  .modal-links {
    margin-bottom: 22px;

    button {
      font-weight: 600;
    }
  }

  .btn-show-pass {
    position: absolute;
    display: flex;
    align-items: center;
    width: 20px;
    height: 18px;
    right: 15px;
    top: 28px;
    transform: translateY(calc(35px / 2 - 50%));

    &__eye-open {
      display: none;
    }

    &__eye-close {
      display: block;
    }

    &._open {
      .btn-show-pass__eye-close {
        display: none;
      }

      .btn-show-pass__eye-open {
        display: block;
      }
    }
  }


}

.reset-password-form {
  padding-top: 15px;
  border-top: 1px solid #D0D5DF;
  margin-top: 20px;

  p {
    max-width: 415px;
    margin-bottom: 12px;
    font-size: 15px;
    @include opensans-regular;
  }
}