#add-document-modal,
#edit-document-modal {
    width: 510px;

    @media (max-width: 550px) {
        width: 90vw;
    }

    select {
        padding: 10px;
    }

    .input-column-wrapper {
        .main-input {
            min-width: 425px;

            @media (max-width: 550px) {
                min-width: 80%;
            }
        }
    }

    .input-column-wrapper__row {
        display: flex;

        @media (max-width: 550px) {
            align-items: flex-start;

            button {
                order: -1;
            }
        }
    }

    .documents-block {
        padding-top: 5px;
        margin-bottom: 20px;

        &__title {
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: 600;
            line-height: normal;
        }

        .file-upload__info {

            @media (max-width: 550px) {
                flex-direction: column;

                .file-upload__item-data,
                .file-upload__delete-btn {
                    position: static;
                    height: auto;
                }
            }
        }

        .documents-list li {
            padding-right: 25px;
            display: flex;
            justify-content: space-between;

            p {
                max-width: 200px;
                font-size: 13px;
                font-weight: 400;
                line-height: normal;
            }

            .documents-list__item-data {
                display: flex;
                align-items: center;
                color: #909498;
                font-size: 13px;
                font-weight: 400;
                line-height: normal;
                margin-right: 20px;
                margin-left: 42px;

                svg {
                    margin-right: 5px;
                }
            }

            .delete-document-button {
                max-width: 54px;
                color: #920303;
                font-size: 13px;
                font-weight: 600;
                line-height: normal;
                text-align: left;
            }
        }
    }

    .download-buttons {
        .input-column-wrapper {
            margin-bottom: 0;
        }

        .file-upload__add-label {
            display: flex;
            align-items: center;
            color: #004D9F;
            font-size: 13px;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;

            padding: 5px 0;
            cursor: pointer;

            svg {
                margin-right: 5px;
            }
        }
    }
}