.pagination {
    display: flex;

    a {
        color: #000;
        @include opensans-regular;
        font-size: 13px;
        padding: 1px 10px;
        transition: all .3s;
        display: flex;

        svg {
            margin: auto;
        }

        &:hover {
            color: #064AB1;
            text-decoration: underline;
        }

        &._active {
            border-radius: 3px;
            pointer-events: none;
            font-weight: 600;
        }

        &:first-child._active {
            margin-left: 10px;
        }
    }
}