.side-navigation {
  width: 200px;

  &__item {

    cursor: pointer;
    @include opensans-semibold;
    font-size: 15px;
    line-height: normal;

    svg {
      position: absolute;
      top: 12px;
      left: 10px;
    }

    &._border-bottom {
      border-bottom: 1px solid #D0D5DF;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    .side-navigation__item-title {
      position: relative;
      display: block;
      padding-left: 35px;
      padding-top: 10px;
      padding-bottom: 11px;
      border-radius: 5px;
    }

    &:hover {
      color: #004D9F;

      .side-navigation__item-title {
        background: #FFF;
      }

      svg path {
        fill: #004D9F;
      }
    }
  }

  &__submenu {
    padding-left: 34px;
    padding-top: 6px;
    height: 0;
    display: none;
    margin-bottom: 5px;

    li {
      &:not(:last-child) {
        margin-bottom: 0px;
      }

    }
  }

  &__item-min {

    position: relative;

    &::after {
      content: url("data:image/svg+xml,%3Csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.98455 5.4499C4.4861 5.03452 3.98765 4.61916 3.4892 4.1207C2.40921 3.20687 1.41231 2.29303 0.332324 1.46227C0.0830961 1.29612 0 1.04687 0 0.714564C0 0.382261 0.166182 0.21612 0.498486 0.0499678C0.747713 -0.0331078 1.08002 -0.0330982 1.32924 0.216129C1.74462 0.548433 2.0769 0.880747 2.49228 1.21305C3.90457 2.37611 5.23378 3.62224 6.64607 4.7853C6.8953 5.03453 7.06147 5.28376 6.97839 5.61606C6.89532 5.78221 6.81225 5.94836 6.72917 6.03144C4.90151 7.60988 3.15691 9.10523 1.32924 10.6837C0.996941 10.9329 0.498445 10.9329 0.249217 10.6006C-1.0151e-05 10.2683 2.02772e-05 9.76986 0.332324 9.52063C1.82769 8.19142 3.40613 6.94527 4.9015 5.61606C4.9015 5.53298 4.90148 5.4499 4.98455 5.4499Z' fill='black'/%3E%3C/svg%3E%0A");
      position: absolute;
      display: block;
      right: 15px;
      top: 50%;
      transform: translateY(-50%)
    }

    &._active {
      &::after {
        top: 10%;
        transform: rotate(90deg);
      }

      .side-navigation__submenu {
        display: block;
        height: max-content;

        li {
          color: #004D9F;
          padding: 6px 0;

        }
      }
    }
  }
}