.edit-organization-page {
    padding-bottom: 115px;

    &__property-type-input {
        max-width: 95px;
    }

    &__city-input {
        width: 85%;
    }

    &__photos-desc {
        margin-bottom: 15px;

        h6 {
            font-weight: 600;
            margin-bottom: 6px;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            font-weight: 600;
        }

        p {
            font-weight: 300;
            line-height: 1.4;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            font-weight: 300;

        }
    }    
}