.home-page {

  header {
    min-height: 684px;
    height: 1px;
    background: url("../img/header-bg.jpg") no-repeat;
    background-size: cover;

    h1 {
      color: #ffffff;
      @include book-bold;
      margin-bottom: 52px;
      font-size: 50px;
      max-width: 610px;
      line-height: 1.2;

      @media (max-width: 730px) {
        font-size: 6vw;
        margin-bottom: 30px;
      }
    }

    @media (max-width: 1600px) {
      background-position: 100%;

      .container {
        max-width: 100vw;
        padding: 0 20px;
        margin: 0;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
      }
    }

    @media (max-width: 1024px) {
      min-height: 484px;
    }

    @media (max-width: 700px) {
      min-height: 370px;
    }

    @media (max-width: 500px) {
      min-height: 300px;
    }
  }

  .swiper-section {
    width: 100%;
    margin-bottom: 60px;
    background-color: #fff;

    @media (max-width: 900px) {
      margin-bottom: 20px;
    }

    .swiper {
      position: relative;
      padding: 15px 0;

      @media (max-width: 1200px) {
        padding-top: 2vw;
        padding-left: 2vw;
      }

      @media (max-width: 900px) {
        padding-bottom: 9vw;
      }

      .swiper-slide {
        @include book-bold;
        font-size: 25px;
        font-weight: 700;
        line-height: 42px;

        @media (max-width: 760px) {
          font-size: 3vw;
          line-height: 4vw;
        }
      }

      .slider-buttons {
        background-color: #fff;
        z-index: 10000;
        position: absolute;
        top: 15px;
        right: 0;

        @media (max-width: 1200px) {
          right: 30px;
        }

        @media (max-width: 900px) {
          background-color: transparent;
          top: auto;
          bottom: 0;
          right: 50%;
          transform: translateX(50%);

          svg {
            width: 5vw;
            height: 5vw;
          }
        }

        .slider-button-prev {
          margin-right: 11px;

          @media (max-width: 900px) {
            margin: 0;
          }
        }

        button:hover {
          svg path {
            stroke: #3090F6;
          }
        }
      }
    }
  }

  .system-functions-list {
    margin-bottom: 72px;
    display: flex;

    @media (max-width: 1000px) {
      margin-bottom: 30px;
    }

    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 40px;

    @media (max-width: 1238px) {
      justify-content: center;
    }

    .system-functions-item {
      width: 380px;
      min-height: 140px;
      background: linear-gradient(133deg, #284A6D 41.54%, #ADB9C7 168.38%);

      &:hover {
        background: linear-gradient(133deg, #133A62 41.54%, #3090F6 168.38%);

        button {
          text-decoration: underline;
        }
      }

      @media (max-width: 400px) {
        margin: 0 20px;
      }

      button {
        color: #FFF;
        @include book-bold;
        font-size: 24px;
        line-height: normal;
        text-align: left;
        padding: 28px 40px 27px 38px;
        position: relative;
        display: inline-block;
        vertical-align: top;

        @media (max-width: 400px) {
          padding: 20px 20px 20px 35px;
        }

        &::after {
          display: inline-block;
          width: 35px;
          height: 32px;
          position: absolute;
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M11.2614 14.1305L10.957 13.8696L13.7397 10.9566L10.957 8.04358L11.2614 7.73926L14.3484 10.9566L11.2614 14.1305Z' fill='white' stroke='white' /%3E%3Cpath d='M11 21C5.47826 21 1 16.5217 1 11C1 5.47826 5.47826 1 11 1C16.5217 1 21 5.47826 21 11C21 16.5217 16.4783 21 11 21ZM11 1.43478C5.73913 1.43478 1.43478 5.73913 1.43478 11C1.43478 16.2609 5.73913 20.5652 11 20.5652C16.2609 20.5652 20.5652 16.2609 20.5652 11C20.5652 5.73913 16.2609 1.43478 11 1.43478Z' fill='white' stroke='white' /%3E%3Cpath d='M13.0871 10.7397H7.65234V11.1745H13.0871V10.7397Z' fill='white' stroke='white' /%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;

          @media (max-width: 400px) {
            display: none;
          }
        }
      }
    }
  }

  .advantages {
    margin-bottom: 87px;

    .advantages-list {
      display: flex;
      flex-wrap: wrap;
      row-gap: 16px;
      column-gap: 40px;

      @media (max-width: 1238px) {
        justify-content: center;
      }

      .advantages-item {
        position: relative;
        display: flex;
        text-align: center;
        width: 380px;

        min-height: 355px;
        @include book-bold;
        font-size: 26px;
        line-height: normal;

        @media (max-width: 400px) {
          min-height: auto;
        }

        &::before {
          position: absolute;
          content: '';
          height: 200px;
          width: 200px;
          left: 35px;
          background-repeat: no-repeat;

          @media (max-width: 400px) {
            opacity: 0.5;
          }
        }

        .text-wrapper {
          padding: 135px 37px 29px 35px;
          margin-top: auto;
          text-align: left;
          min-height: 270px;
          background-color: #fff;

          @media (max-width: 400px) {
            margin: 0 20px;
            min-height: 200px;
            font-size: 20px;
            width: 80vw;
            padding: 20px;
          }
        }
      }

      .standards {
        &::before {
          background-image: url('../img/icons/standards.svg');
        }
      }

      .synchronization {
        &::before {
          background-image: url('../img/icons/synchronization.svg');
        }
      }

      .setup {
        &::before {
          background-image: url('../img/icons/setup.svg');
        }
      }

      .hosting {
        &::before {
          background-image: url('../img/icons/hosting.svg');
        }
      }

      .support {
        &::before {
          background-image: url('../img/icons/support.svg');
        }
      }
    }
  }

  .connection {
    color: #fff;
    margin-bottom: 70px;
    background: linear-gradient(114deg, #072E57 34.55%, #ADB9C7 105.4%);

    .container {
      padding: 60px 0 100px 0;

      @media (max-width: 1300px) {
        padding: 40px 0 70px 0;
        width: 90vw;
      }
    }

    h2 {
      margin-bottom: 40px;
      @include book-bold;
      font-size: 70px;
      line-height: normal;

      @media (max-width: 540px) {
        font-size: 45px;
        margin-bottom: 20px;
      }
    }

    .connection-list {
      display: flex;
      justify-content: space-between;
      gap: 40px;

      @media (max-width: 1300px) {
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      li {
        @include book-bold;
        font-size: 30px;
        line-height: 40px;
        min-width: 200px;

        @media (max-width: 1300px) {
          width: calc((100% - 80px) / 3);
          text-align: center;
        }

        @media (max-width: 950px) {
          width: calc((100% - 40px) / 2);
        }

        @media (max-width: 600px) {
          width: 100%;
        }

        span {
          display: block;
          margin-bottom: 10px;
          @include opensans-light;
          font-size: 50px;
          line-height: normal;
          opacity: 0.6;
        }
      }
    }

  }

  .form-wrapper {
    margin-bottom: 165px;
    border: 5px solid #FFF;
    padding: 60px 99px 74px 95px;

    @media (max-width: 900px) {
      margin-bottom: 60px;
      padding: 40px 30px;
    }

    @media (max-width: 380px) {
      padding: 40px 15px;
    }

    h3 {
      margin-bottom: 40px;
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight: 600;
      line-height: 40px;
    }

    form {
      display: flex;
      flex-direction: column;

      .form-item {
        position: relative;
        margin-bottom: 25px;
        max-width: 808px;
        min-height: 65px;

        background-color: #fff;
        border: 1px solid #ADB9C7;

        @include montserrat-medium;
        font-size: 22px;
        line-height: normal;

        @media (max-width: 400px) {
          font-size: 18px;
          max-height: 45px;
          margin-bottom: 15px;
        }


        &__label {
          position: absolute;
          pointer-events: none;
          left: 14px;
          top: 50%;
          transform: translateY(-50%);
          transition: 0.2s ease all;
          @include montserrat-medium;

          color: #ADB9C7;
          font-size: 22px;
          line-height: normal;

          @media (max-width: 400px) {
            font-size: 18px;
          }
        }

        &__input {
          width: 100%;
          padding: 17px 17px;

          border: none;
          width: 100%;
          height: 60px;
          padding: 0 40px 0 20px;
          @include montserrat-medium;
          font-size: 20px;
          line-height: 24px;

          &:focus {
            outline: 1px solid #3e29ca;
            background-color: #ffffff;
          }

          &_active {
            padding-top: 20px;
          }
        }

        &__input_active+.form-item__label {
          top: 15px;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
        }
      }

      .select {
        padding: 20px;
        margin-bottom: 40px;
        appearance: none;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0L6.49997 10L0 0H13Z' fill='%23072E57'/%3E%3C/svg%3E%0A");

        background-repeat: no-repeat;
        background-position: right 20px top 30px;

        @media (max-width: 400px) {
          padding-left: 5px;
          margin-bottom: 25px;
        }
      }

      button {
        margin-right: auto;
        padding: 24px 28px;

        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;

        @media (max-width: 360px) {
          padding: 15px 15px;
          font-size: 16px;
        }
      }
    }
  }
}