.home-page {

  .main-menu {
    margin-bottom: 70px;
  }

  header {
    min-height: 684px;
    background: url("../img/header-bg.jpg") no-repeat;
    background-size: cover;
    h1 {
      color: #ffffff;
      @include book-bold;
      margin-bottom: 52px;
      font-size: 50px;
      max-width: 610px;
      line-height: 1.2;
    }
  }
}