.hotelier-profile-page {

    .main-section-wrapper {
        @media (max-width: 1000px) {
            max-width: 90vw;
        }
    }

    .main-section {
        padding: 25px;
        border: none;
        background-color: #fff;
    }

    .hotelier-info {
        display: flex;

        @media (max-width: 1000px) {
            flex-direction: column;
        }

        &__avatar {
            margin-right: 20px;
        }

        &__name {
            margin-bottom: 5px;
            padding-top: 10px;
            @include book-bold;
            font-size: 30px;
            line-height: normal;
        }

        &__account {
            margin-bottom: 12px;
            color: #A3A3A3;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: normal;
        }

        &__status {
            max-width: 800px;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;

            font-weight: 600;
            line-height: 24px;
        }
    }


    .fix-row__title {
        min-width: 210px;
    }

    .hotelier-profile-footer {
        display: flex;
        justify-content: space-between;

        a {
            color: #004D9F;


            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
            /* 146.667% */
            text-transform: uppercase;
        }

        @media (max-width: 1000px) {
            flex-direction: column;
            gap: 20px;
        }
    }
}