.one-organization-page {
  padding-bottom: 190px;

  .main-section__item {

    &:first-child {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }
  }

  .fix-row {

    &__desc {
      max-width: 550px;

      span {
        font-weight: 700;
        margin-right: 5px;
      }
    }

    &__title {
      min-width: 176px;
    }
  }

  &__avatar {
    width: 110px;
    height: 110px;
    img {
      min-height: 100%;
      border-radius: 5px;
    }
  }

  .top-info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 450px) {
      flex-direction: column-reverse;
    }
  }

}