.order-page {
    padding-bottom: 190px;

    .main-section {
        width: 1010px;
        padding-left: 10px;
        padding-right: 10px;

        .inputs-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;

            &__desc {
                min-width: 460px;
            }
        }
    }

    .main-section-container {
        padding: 0 15px;
    }

    &__info {
        margin-bottom: 15px;
        position: relative;
        padding: 9px 8px 12px 37px;
        border-radius: 5px;
        background: #1154B9;
        color: #FFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.2px;

        svg {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }

    .main-section__item-title {
        font-size: 15px;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 5px;
    }

    .main-section__item-value {
        font-size: 17px;
        font-weight: 700;
        line-height: normal;

        svg {
            margin-top: 8px;
        }
    }

    .link {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #004D9F;
    }

    .text-mark {
        font-size: 15px;
        font-weight: 400;
        line-height: normal;
    }

    .border-bottom {
        border-bottom: 1px solid #D0D5DF;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .choose-tariff-block {
        position: relative;
        margin-top: 10px;
    }

    .disabled-block {
        border-radius: 5px;
        opacity: 1;
        background: transparent;
        padding: 10px 15px;

        .inputs-row {
            margin-bottom: 20px;
        }
    }

    .choose-tariff-modal {
        display: none;
    }

    ._tariff-blocked {
        margin-bottom: 20px;

        .disabled-block {
            opacity: 0.7;
            background: #F3F5F6;
            pointer-events: none;
        }

        .choose-tariff-modal {
            display: block;
            position: absolute;
            top: -8px;
            left: 0;
            right: 0;
            margin: 0 auto;
            opacity: 1;
            padding: 30px 40px 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            max-width: 400px;
            border-radius: 5px;
            background: #FFF;
            box-shadow: 0px 0px 30px 0px rgba(13, 35, 57, 0.15);
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            p {
                margin: 16px 0 10px 0;
            }

            a {
                display: inline-block;
                padding: 8px 14px;
                font-family: 'Open Sans', sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: 22px;
            }
        }
    }

    .main-controllers {
        button {
            height: 40px;
        }
    }
}