.orders-list-page {
  .main-section {
    border: none;
    background-color: #fff;
    max-width: 1010px;

    @media (max-width: 1000px) {
      max-width: 90vw;
    }
  }

  h1 {
    margin-bottom: 14px;
    @include book-bold;
    font-size: 30px;
    line-height: normal;
  }

  &__info {
    margin-bottom: 15px;
    position: relative;
    padding: 9px 8px 12px 37px;
    border-radius: 5px;
    background: #1154b9;

    color: #fff;

    font-family: "Open Sans", sans-serif;
    font-size: 15px;

    font-weight: 500;
    line-height: 20px;

    letter-spacing: 0.2px;

    @media (max-width: 700px) {
      font-size: 12px;
      line-height: 1.4;
    }

    svg {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }

  .control-panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 1250px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }

    &__password-change {
      padding: 5px 10px 7px 10px;
      border-radius: 5px;
      border: 1px dashed #868585;
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;

      span {
        font-weight: 700;
      }

      .password-change-btn {
        margin-left: 35px;
        width: 145px;
        padding: 5px 9px;
        border-radius: 3px;
        background: #064ab1;
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 1;

        @media (max-width: 850px) {
          margin-left: 0;
          margin-top: 5px;
        }
      }
    }

    .add-order-btn {
      text-transform: none;
      display: flex;
      align-items: center;
      padding: 11px 10px;
      line-height: 1;

      svg {
        margin-right: 6px;
      }
    }
  }

  .row-number {
    width: auto;
  }

  .main-table {
    margin-bottom: 15px;
    overflow: auto;

    .pagination {
      a {
        color: #000000;

        &:first-child {
          padding-left: 0;
        }
      }
    }

    &__pagination-row {
      padding: 8px 10px;

      @media (max-width: 1000px) {
        justify-content: flex-start;
        gap: 10px;
      }
    }

    &__row {
      @media (max-width: 950px) {
        min-width: 1150px;
      }
    }

    &__cell {
      &:not(:last-child) {
        padding-right: 25px;
      }

      &:not(:nth-child(5)) {
        word-break: break-all;
      }

      &:nth-child(1) {
        max-width: 2%;
      }

      &:nth-child(2) {
        max-width: 25%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:nth-child(3) {
        max-width: 18%;
      }

      &:nth-child(4) {
        max-width: 20%;
      }

      &:nth-child(5) {
        max-width: 18%;
      }

      &:nth-child(6) {
        max-width: 17%;
        font-weight: 600;

        span {
          color: #12cc69;
        }
        a {
          &:hover {
            text-decoration: underline;
          }
          display: block;
          &:first-child {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
