.orders-list-page {
    .main-section {
        border: none;
        background-color: #fff;
        max-width: 1010px;
    }

    h1 {
        margin-bottom: 14px;
        @include book-bold;
        font-size: 30px;
        line-height: normal;
    }

    &__info {
        
        margin-bottom: 15px;
        position: relative;
        padding: 9px 8px 12px 37px;
        border-radius: 5px;
        background: #1154B9;

        color: #FFF;

        font-family: 'Open Sans';
        font-size: 15px;

        font-weight: 500;
        line-height: 20px;

        letter-spacing: 0.2px;

        svg {

            position: absolute;
            top: 10px;
            left: 10px;
        }
    }

    .control-panel {
        display: flex;
        justify-content: space-between;
        //gap: 5px;
        align-items: flex-start;

        &__password-change {

            padding: 5px 10px 7px 10px;
            border-radius: 5px;
            border: 1px dashed #868585;
            font-family: 'Open Sans';
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;

            span {
                font-weight: 700;
            }

            .password-change-btn {
                margin-left: 35px;
                max-width: 145px;
                padding: 0px 9px;
                border-radius: 3px;
                background: #064AB1;

                color: #FFF;

                font-family: 'Open Sans';
                font-size: 15px;
                font-weight: 600;
                line-height: 24px;

                
            }
        }

        .add-order-btn {
            text-transform: none;
            padding: 8px 10px;

            
        }
    }

    .row-number {
        width: auto;
    }



    .main-table {
        //overflow: auto;
        margin-bottom: 15px;

        .pagination {
            a {
                color: #000000;

                &:first-child {
                    padding-left: 0;
                }
            }
        }


        &__pagination-row {
            padding: 8px 10px;
        }


        &__row {
            @media (max-width: 950px) {
                min-width: 1150px;
            }
        }


        &__cell {
            // &:not(:last-child) {
            //     padding-right: 25px;
            // }

            &:nth-child(1) {
                max-width: 3%;
            }

            &:nth-child(2) {
                max-width: 29%;
            }

            &:nth-child(3) {
                max-width: 16%;
            }

            &:nth-child(4) {
                max-width: 17%;
            }

            &:nth-child(5) {
                max-width: 21%;
            }

            &:nth-child(6) {
                max-width: 11%;
            }

        }
    }
}