<div class="main-menu-wrapper">
  <div class="container">
    <div class="main-menu">
      <a class="main-menu__logo" href="index.html">
        <img src="img/logo.svg" alt="Логотип" />
      </a>

      <input class="menu-checkbox" id="menu-checkbox" type="checkbox" />
      <label class="menu-button" for="menu-checkbox">
        <span></span>
      </label>

      <div class="main-menu__links">
        <nav class="main-menu__nav">
          <ul class="main-menu__links-list">
            <li class="main-menu-item info-block-opener">
              <h5>Возможности</h5>
              <div class="main-menu__submenu">
                <div class="container">
                  <ul class="submenu-list">
                    <li class="submenu-list__item">
                      <svg
                        width="80"
                        height="80"
                        viewBox="0 0 80 80"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect width="80" height="80" fill="#E8F4FF" />
                      </svg>
                      <h6>Возможность 1</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </li>

                    <li class="submenu-list__item">
                      <svg
                        width="80"
                        height="80"
                        viewBox="0 0 80 80"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect width="80" height="80" fill="#E8F4FF" />
                      </svg>
                      <h6>Возможность 2</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </li>

                    <li class="submenu-list__item">
                      <svg
                        width="80"
                        height="80"
                        viewBox="0 0 80 80"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect width="80" height="80" fill="#E8F4FF" />
                      </svg>
                      <h6>Возможность 3</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </li>

                    <li class="submenu-list__item">
                      <svg
                        width="80"
                        height="80"
                        viewBox="0 0 80 80"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect width="80" height="80" fill="#E8F4FF" />
                      </svg>
                      <h6>Возможность 4</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </li>
                  </ul>

                  <a href="#"
                    ><span>Посмотреть все возможности</span>
                    <svg
                      width="9"
                      height="15"
                      viewBox="0 0 9 15"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M9 7.1L0 14.1148L0 0.0851941L9 7.1Z"
                        fill="#C6E4FF"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </li>

            <li class="main-menu-item info-block-opener">
              <h5>Цены</h5>
              <div class="main-menu__submenu">
                <div class="container">
                  <ul class="submenu-list">
                    <li class="submenu-list__item">
                      <svg
                        width="80"
                        height="80"
                        viewBox="0 0 80 80"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect width="80" height="80" fill="#E8F4FF" />
                      </svg>
                      <h6>Цена 1</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </li>

                    <li class="submenu-list__item">
                      <svg
                        width="80"
                        height="80"
                        viewBox="0 0 80 80"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect width="80" height="80" fill="#E8F4FF" />
                      </svg>
                      <h6>Цена 2</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </li>

                    <li class="submenu-list__item">
                      <svg
                        width="80"
                        height="80"
                        viewBox="0 0 80 80"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect width="80" height="80" fill="#E8F4FF" />
                      </svg>
                      <h6>Цена 3</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </li>

                    <li class="submenu-list__item">
                      <svg
                        width="80"
                        height="80"
                        viewBox="0 0 80 80"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <rect width="80" height="80" fill="#E8F4FF" />
                      </svg>
                      <h6>Цена 4</h6>
                      <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </li>
                  </ul>

                  <a href="#"
                    ><span>Посмотреть все цены</span>
                    <svg
                      width="9"
                      height="15"
                      viewBox="0 0 9 15"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M9 7.1L0 14.1148L0 0.0851941L9 7.1Z"
                        fill="#C6E4FF"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </li>
            <li class="main-menu-item"><a href="#">О системе</a></li>
          </ul>
        </nav>
        <div class="main-menu__personal">
          <div class="main-menu-item info-block-opener">
            <h5>Поддержка</h5>
            <div class="main-menu__submenu">
              <div class="container">
                <ul class="submenu-list">
                  <li class="submenu-list__item">
                    <svg
                      width="80"
                      height="80"
                      viewBox="0 0 80 80"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="80" height="80" fill="#E8F4FF" />
                    </svg>
                    <h6>Поддержка 1</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                  </li>

                  <li class="submenu-list__item">
                    <svg
                      width="80"
                      height="80"
                      viewBox="0 0 80 80"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="80" height="80" fill="#E8F4FF" />
                    </svg>
                    <h6>Поддержка 2</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                  </li>

                  <li class="submenu-list__item">
                    <svg
                      width="80"
                      height="80"
                      viewBox="0 0 80 80"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="80" height="80" fill="#E8F4FF" />
                    </svg>
                    <h6>Поддержка 3</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                  </li>

                  <li class="submenu-list__item">
                    <svg
                      width="80"
                      height="80"
                      viewBox="0 0 80 80"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="80" height="80" fill="#E8F4FF" />
                    </svg>
                    <h6>Поддержка 4</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                  </li>
                </ul>

                <a href="#"
                  ><span>Информация о поддержке</span>
                  <svg
                    width="9"
                    height="15"
                    viewBox="0 0 9 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9 7.1L0 14.1148L0 0.0851941L9 7.1Z"
                      fill="#C6E4FF"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <button
            class="main-menu__auth-btn"
            data-open-modal="registration-modal"
          >
            Кабинет
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
